.App {
  text-align: center;
}

.App-header {
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #2e2e2e;
}

.projectCards {
  display: flex;
  justify-content: space-evenly;
}